### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data_file = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_data_file)
display(purchase_df)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [16]:
# calculate the number of unique players in the df based on screen name
player_count = len(purchase_df["SN"].unique())
display(player_count)

576

In [17]:
# create summary df
pc_summary_df = pd.DataFrame({"Total Players": [player_count]})
display(pc_summary_df)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# calculate number of unique items
unique_items = len(purchase_df["Item Name"].unique())
unique_items

# calculate avg price
avg_price = purchase_df["Price"].mean()
avg_price = round(avg_price, 2)
avg_price

# calculate number of purchases
number_purchases = len(purchase_df["Purchase ID"])
number_purchases

# calculate total revenue
total_revenue = purchase_df["Price"].sum()
total_revenue

# create summary df
pa_summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": avg_price,
                              "Number of Purchases": number_purchases,
                              "Total Revenue": total_revenue
                             })
display(pa_summary_df.style.format({"Average Price": "${:,.2f}",
                           "Total Revenue": "${:,.2f}"}))

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
# find unique gender values and their total count
gender_dems = purchase_df.groupby(["Gender"])
total_gender_count = gender_dems["SN"].nunique()

# find gender percentage of players
percent_players_by_gender = (total_gender_count / player_count) * 100

# new summary df
gender_summary_df = pd.DataFrame({"Total Count": total_gender_count,
                         "Percentage of Players": percent_players_by_gender})

# optionally, remove gender column header
gender_summary_df.index.name = None

# format and sort df
display(gender_summary_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players": "{:.2f}%"}))


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# purchase count
purchase_count = gender_dems["Purchase ID"].count()

# avg purchase price
purchase_price_avg = gender_dems["Price"].mean()

# total purchase value
total_purchase = gender_dems["Price"].sum()

# avg total purchase per person
purchase_per_person = (total_purchase / total_gender_count)

# summary df
pa_gender_summary_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                     "Average Purchase Price": purchase_price_avg, 
                                     "Total Purchase Value": total_purchase, 
                                     "Average Total Purchase Per Person": purchase_per_person})

# optionally, remove gender column header
pa_gender_summary_df.index.name = None

# format and sort df
display(pa_gender_summary_df.sort_values(["Purchase Count"], ascending = False).style.format({"Average Purchase Price": "${:,.2f}", 
                                   "Total Purchase Value": "${:,.2f}", 
                                   "Average Total Purchase Per Person": "${:,.2f}"}))

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
# create bins and add labels
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99]

bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# slice data and place into bins
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], age_bins, labels=bin_labels)

# numbers by age group
age_group = purchase_df.groupby(["Age Group"])
total_players_by_age = age_group["SN"].nunique()

# percentages by age group
total_percent_by_age = (total_players_by_age / player_count) * 100

# new summary df
age_dems_summary_df = pd.DataFrame({"Total Count": total_players_by_age,
                                   "Percentage of Players": total_percent_by_age})
# format df
display(age_dems_summary_df.style.format({"Percentage of Players": "{:,.2f}%"}))

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
# purchase count
purchase_count_age = age_group["Purchase ID"].count()

# avg purchase price
avg_pur_price_age = age_group["Price"].mean()

# total purchase value
total_pur_price_age = age_group["Price"].sum()

# avg total purchase per person
avg_total_pur_age = (total_pur_price_age / total_players_by_age)

# summary df
age_purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                          "Average Purchase Price": avg_pur_price_age,
                                          "Total Purchase Value": total_pur_price_age,
                                          "Avg Total Purchase Per Person": avg_total_pur_age})
# format df
display(age_purchasing_analysis_df.style.format({"Average Purchase Price": "${:,.2f}",
                                          "Total Purchase Value": "${:,.2f}",
                                          "Avg Total Purchase Per Person": "${:,.2f}"}))

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
# group original purchase data by SN 
top_spender_stats = purchase_df.groupby(["SN"])

# purchase count
purchase_count = top_spender_stats["Purchase ID"].count()

# average purchase price
avg_purchase = top_spender_stats["Price"].mean()

# total purchase value
total_purchase = top_spender_stats["Price"].sum()

# summary df
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count,
                               "Average Purchase Price": avg_purchase,
                               "Total Purchase Value": total_purchase})
# sort and format df
formatted_top_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending = False).head()
display(formatted_top_spenders_df.style.format({"Average Purchase Price": "${:,.2f}",
                                       "Total Purchase Value": "${:,.2f}"}))

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
# retrieve 3 columns needed and create new df
item_df = purchase_df[["Item ID", "Item Name", "Price"]]

# group by item ID and item name
items = item_df.groupby(["Item ID", "Item Name"])

# calculate purchase count
purchase_count = items["Price"].count()

# calculate total purchase value and avg item price
total_value = items["Price"].sum()

avg_item_price = (total_value / purchase_count)

# summary df
most_popular = pd.DataFrame({"Purchase Count": purchase_count, "Average Item Price": avg_item_price, "Total Purchase Value": total_value})

# sort df by purchase count in descending order, then format
formatted_most_popular = most_popular.sort_values(["Purchase Count"], ascending = False).head()
display(formatted_most_popular.style.format({"Average Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"}))

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [25]:
# change sort value to sort by total purchase value, to find the most profitable item
formatted_most_popular = most_popular.sort_values(["Total Purchase Value"], ascending = False).head()
display(formatted_most_popular.style.format({"Average Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"}))